<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Your Own CS Portfolio!</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="logo" src="/static/unc_logo.png" alt="logo"></a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
    <center><h2>Create Your Own CS Portfolio!<h2></center>
        <body>
            <form method="post">
                <font size="+2">Personal Information</font>
                <br />
                <br />
                <label for="name">Full Name:</label>
                <br />
                <input type="text" id="name" name="name">
                <br />
                <br />
                <label for="college">College:</label>
                <br />
                <input type="text" id="college" name="college">
                <br />
                <br />
                <label for="year">Graduation Year:</label>
                <br />
                <input type="text" id="year" name="year">
                <br />
                <br />
                <label for="major">Major:</label>
                <br />
                <input type="text" id="major" name="major">
                <br />
                <br />
                <font size="+2">About You</font>
                <br />
                <br />
                <label for="about_me">Write a few scentinces about your experiances, accomplishments, and professional goals:</label>
                <br />
                <input type="text" id="about_me" name="about_me">
                <br />
                <br />
                <font size="+2">Projects</font>
                <br />
                <br />
                <label for="project_1">Give a short summary of your project:</label>
                <br />
                <input type="text" id="project_1" name="project_1">
                <br />
                <br />
                <label for="project_1_github">Github Link:</label>
                <br />
                <input type="text" id="project_1_github" name="project_1_github">
                <br />
                <br />
                <font size="+2">Contact Information</font>
                <br />
                <br />
                <label for="email">Email:</label>
                <br />
                <input type="text" id="email" name="email">
                <br />
                <br />
                <label for="resume">Resume Link:</label>
                <br />
                <input type="text" id="resume" name="resume">
                <br />
                <br />
                <label for="linkedin">LinkedIn Profile:</label>
                <br />
                <input type="text" id="linkedin" name="linkedin">
                <br />
                <br />
                <label for="git_hub">Github:</label>
                <br />
                <input type="text" id="git_hub" name="git_hub">
                <br />
                <br />
                <input type="submit" value="Create Portfolio" style="background: rgb(69, 121, 232); color: rgb(251, 251, 252); font-size: 1.2em">            
</form>
       
    </body>
</html>